.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #1a1a1a;
}

.videoWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: opacity 0.5s;
}

.videoWrapper_isStreaming {
    width: fit-content;
    opacity: 1;
}

.videoWrapper_not_isStreaming {
    width: 0;
    opacity: 0;
}

.photoIconsWrapper {
    position: absolute;
    bottom: 1%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 auto;
    width: 98%;
}

.photoIconButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 50%;
    color: #fff;
    background-color: rgba(26, 26, 26, 0.1);;
    transition: background-color 0.3s;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
}

.photoIconButton:hover {
    background-color: rgba(26, 26, 26, 0.25);
}

.switchCameraIconWrapper {
    width: 2rem;
    height: 2rem;
}

.canvas {
    display: none;
}

.chatHeaderWrapper {
    display: flex;
    align-items: center;
    padding: 1.5rem 0 0 1rem;

    @media (max-width: 600px) {
        display: block;
    }
}

.chatHeaderLink {
    text-decoration: none;
    user-select: none;
    color: lightgray;
}

.centerHorizontalWrapper {
    display: flex;
    align-items: center;
}

.backIcon {
    color: #fff;
    font-size: 2rem;
    margin-right: 0.5rem;
}

.elapsedTimeWrapper {
    margin-left: 3rem;

    @media (max-width: 600px) {
        margin-left: 0;
        margin-top: 0.5rem;
    }
}

.elapsedTimeStub {
    height: 1.5rem;

    @media (max-width: 600px) {
        margin-left: 0;
        margin-top: 0.5rem;
    }
}

.coverWrapper {
    position: relative;
}

.selectModeWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem 1rem 0;
}

.chatWrapper {
    padding: 0 1rem 1rem 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    height: 72vh;
}

@media (max-width: 600px) {
    .chatWrapper::-webkit-scrollbar {
        display: none;
    }

    .chatWrapper::-webkit-scrollbar-track {
        display: none;
    }
}

.chatWrapper::-webkit-scrollbar {
    width: 6px;
}

.chatWrapper::-webkit-scrollbar-track {
    width: 6px;
    background-color: transparent;
    border: solid 1px transparent;
}

.chatWrapper::-webkit-scrollbar-thumb {
    background-color: rgba(70, 130, 180, 0.6);
    border: solid 1px transparent;
    border-radius: 6px;
    background-clip: padding-box;
}

.textAreaWrapper {
    background-color: #1a1a1a;
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    padding: 0.25rem;
    box-shadow: 0 -15px 5px #1a1a1a;
}

.textArea {
    width: 100%;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5;
    overflow-y: auto;
    background-color: transparent;
    border: none;
    resize: none;
    color: lightgray;
}

.textArea:focus-visible {
    outline: none;
}