.backdrop {
    position: fixed;
    inset: 0;
    display: flex;
    z-index: 10;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #1a1a1a;
}

.menuBackdrop {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 10;
    inset: 0;
}

.menuCard {
    padding: 0.5rem;
    width: 40%;
    height: fit-content;
    background: lightgoldenrodyellow;
    border-radius: 0.25rem;
    color: #000;
    opacity: 0;
    transition: all 0.3s;

    @media (max-width: 600px) {
        width: 60%;
    }
}

.menuCardIsActive {
    transform: translateY(var(--yOffset));
    opacity: 1;
}

.menuCardIsInActive {
    opacity: 0;
}

.video {
    max-width: 100%;
}

.videoWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: opacity 0.5s;
}

.videoWrapper_isStreaming {
    width: fit-content;
    opacity: 1;
}

.videoWrapper_not_isStreaming {
    width: 0;
    opacity: 0;
}

.photoIconsWrapper {
    position: absolute;
    bottom: 1%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 auto;
    width: 98%;
}

.photoIconButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 50%;
    color: #fff;
    background-color: rgba(26, 26, 26, 0.1);;
    transition: background-color 0.3s;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
}

.photoIconButton:hover {
    background-color: rgba(26, 26, 26, 0.25);
}

.switchCameraIconWrapper {
    width: 2rem;
    height: 2rem;
}

.canvas {
    display: none;
}

.chatHeaderLink {
    text-decoration: none;
    user-select: none;
    color: lightgray;
}

.centerHorizontalWrapper {
    display: flex;
    align-items: center;
}

.backIcon {
    color: #fff;
    font-size: 2rem;
    margin-right: 0.5rem;
}

.elapsedTimeWrapper {

    margin-block: 1rem;
    line-height: 1.5rem;
}

.typedWrapper {
    width: fit-content;
    margin-inline: auto;
}

.elapsedTimeStub {
    height: 3.5rem;
}

.chatContainer {
    padding: 1rem;
}

.coverWrapper {
    position: relative;
}

.selectModeWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-block: 1rem;
}

.chatWrapper {
    overflow-y: auto;
    overflow-x: hidden;
    height: 67vh;

    @media (max-width: 600px) {
        height: 72vh;
    }
}

.chatWrapper::-webkit-scrollbar {
    display: none;
}

.chatWrapper::-webkit-scrollbar-track {
    display: none;
}

.textAreaWrapper {
    background-color: #1a1a1a;
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    padding: 0.25rem;
    box-shadow: 0 -15px 5px #1a1a1a;
}

.textArea {
    width: 100%;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5;
    overflow-y: auto;
    background-color: transparent;
    border: none;
    resize: none;
    color: lightgray;
}

.textArea:focus-visible {
    outline: none;
}
.previewImage {
    object-fit: cover;
}

.sendMessageFormWrapper {
    width: 100%;
    padding: 0 1rem;
    position: fixed;
    bottom: 1rem;
}

.repliedMessageContainer {
    display: flex;
    flex-direction: column;
    height: 3.5rem;
    color: #1a1a1a;
    margin-bottom: 3px;
}

.repliedMessageAuthor {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: lightgreen;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 0.5rem;
}

.repliedMessageAuthorInner {
    display: flex;
    max-width: 85%;
    align-items: center;
}

.dropReplyMessageButton {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin-right: 1rem;
    font-size: 1.5rem;
    height: 1.5rem;
}

.repliedTimeContainer {
    display: flex;
    flex-direction: column-reverse;
    height: 80%;
    margin-left: 1rem;
    font-size: 0.6rem;
}

.repliedMessageText {
    flex: 1;
    display: flex;
    align-items: center;
    background: lightgray;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0 0.5rem;
}

.repliedMessageInner {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.repliedMessageImage {
    margin-left: 0.5rem;
}

.replyToContainer {
    background: palegreen;
    border-radius: 0.25rem;
    padding: 0.25rem;
    margin-bottom: 0.5rem;
}

.replyToAuthor {
    font-size: 0.7rem;
    color: green;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0.25rem;
}

.replyToWrapper {
    display: flex;
    max-width: 20rem;
}

.replyToDateWrapper {
    display: flex;
    flex-direction: row-reverse;
}

.replyToDate {
    font-size: 0.5rem;
    color: green;
}

.replyToText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #1a1a1a;
}

.endDecorator {
    display: flex;
    flex: auto;
    gap: 0.5rem;
    align-items: flex-end;
    padding-top: 0.25rem;
    border-top: 1px solid;
    border-color: lightgray;
}

.previewWrapper {
    position: relative;
    box-sizing: border-box;
    width: 4rem;
    height: 3.5rem;
    overflow: hidden;
    border-radius: 4px;

    @media (max-width: 400px) {
        width: 3rem;
        height: 2.25rem;
    }
}

.imageIconsWrapper {
    display: flex;
    justify-content: space-between;
    width: 14.5rem;
    margin-left: auto;
}

.imageIconsInnerWrapper {
    display: flex;
    justify-content: space-between;
    width: 11rem;
    margin-left: auto;
}

.iconButton {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    color: lightgray;
    font-size: 2rem;
    cursor: pointer;
}

.additionalIcon {
    font-size: 1.7rem;
    margin-top: 0.25rem;
}

.fileUpload {
    margin-top: 0.5rem;
}

.sendButton {
    display: flex;
    align-items: center;
    outline: none;
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid lightgray;
    color: lightgray;
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    font-size: 1.2rem;
}

.startDecorator {
    display: flex;
    flex: 1;
    justify-content: space-between;

    @media (min-width: 600px) {
        justify-content: flex-start;
    }
}

.reactionContainer {
    @media (min-width: 600px) {
        margin-right: 0.5rem;
    }
}

.styledLabel {
    display: contents;
}

.styledLabel:nth-of-type(1) > div {
    padding-top: 0;
}

.messageWrapper {
    position: relative;
    user-select: none;
    display: flex;
    padding: 1rem 0;
}

.messageItem {
    border-radius: 0.25rem;
    transition: transform 0.5s ease-in-out;
}

.messageItem_fullWidth {
    max-width: 100%;
}
.messageItem_not_fullWidth {
    max-width: 83%;
}

.messageItem_singlePadding {
    padding: 0 0 0.5rem 0;
}

.messageItem_not_singlePadding {
    padding: 0.5rem;
}

.messageItem_withOffset {
    margin-top: 0.5rem;
}

.messageItem_not_withOffset {
    margin-top: 0;
}

.messageItem_isAuthoredByUser {
    margin-left: auto;
    margin-right: 0;
    background-color: #4682b499;
}

.messageItem_not_isAuthoredByUser {
    margin-left: 0;
    margin-right: auto;
    background-color: #70809080;
}

.messageItem_transparent {
    background-color: transparent;
}

.messageItem_isMoved {
    transform: translateX(calc(-100vw + 100% + 3.5rem));
}

.emojiDisplayWrapper {
    font-size: 2.5rem;
}

.messageItemBottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1rem;
}

.messageItemBottom_not_multipleChild {
    flex-direction: row-reverse;
}

.messageItemBottom_withOffset {
    margin: 0.5rem 0.5rem 0 0.5rem;
}

.messageItemBottom_not_withOffset {
    margin: 0.5rem 0 0 0
}

.innerMessageItem {
    margin-top: 0.5rem;
    max-width: 100%;
    border-radius: 0.25rem;
    word-break: break-word;
}

.innerMessageItem_withPadding {
    padding: 0.5rem;
}

.reactionWrapper {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    width: fit-content;
    background: rgba(26, 26, 26, 0.2);
    padding: 2px;
    border-radius: 1rem;
    font-size: 1rem;
}

.reactionAuthorImage {
    border-radius: 50%;
    object-fit: cover;
}

.timeWrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.6rem;
    color: rgba(0, 210, 170, 0.8);
}

.statusIcon {
    color: rgba(0, 210, 170, 0.8);
    font-size: 1rem;
    margin-top: -2px;
}

.imageWrapper {
    position: relative;
}

.styledImage {
    display: block;
    object-fit: cover;
    border-radius: 0.25rem;
    width: 100%;
}

.imageButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    position: absolute;
    border-radius: 50%;
    width: 1.6rem;
    height: 1.6rem;
    bottom: 2%;
    right: 3%;
    background: rgba(26, 26, 26, 0.5);
    padding: 6px;
    font-size: 0.7em;
    color: lightgray;
}

.userPhotoImage {
    border-radius: 50%;
    margin-right: 0.5rem;
    object-fit: cover;
}

.messageInputContainer {
    position: absolute;
    bottom: 1rem;
    width: calc(100% - 2rem);
}

.reactionsWrapper {
    display: flex;
    overflow-x: auto;
    font-size: 20px;
    padding-bottom: 0.25rem;
    user-select: none;
}

.menuListButton {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 2rem;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    color: #1a1a1a;
}

.menuListOptionText {
    font-size: 1.2rem;
    color: #1a1a1a;
    white-space: nowrap;
}

.unreadMessagesButton {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    bottom: 5%;
    right: 7%;
    animation: enter 1s;

    @keyframes enter {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

.unreadNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
    min-width: 1.8rem;
    height: 1.8rem;
    padding: 0.2rem;
    background: darkgreen;
    color: #fff;
    border-radius: 0.9rem;
    z-index: 10;
}

.downIconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #fff;
    margin-top: -0.5rem;
}

.downIcon {
    margin-top: 0.25rem;
    font-size: 1.5rem;
    color: darkgreen;
}

.fullWidth {
    position: relative;
    width: 100%;
}

.confirmDialog {
    width: 30%;
    padding: 1rem;
    background-color: lightgoldenrodyellow;
    color: #1a1a1a;
    border-radius: 0.25rem;

    @media (max-width: 600px) {
        width: 100%;
    }
}

.confirmDialogContainer {
    display: flex;
    gap: 5rem;
    width: fit-content;
    margin: 2rem 0 0 auto;
}

.confirmDialogButton {
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: 700;
}

.deleteButton {
    color: red;
}

.confirmDialogHeader {
    margin-bottom: 2rem;
}

.styledLink {
    color: lightgray;
}

.black {
    border: 2px solid #1a1a1a !important;
}

.black:checked {
    background-color: #1a1a1a !important;
}

.black:checked::before {
    color: #fff !important;
}

.typed {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s infinite;
}

@keyframes typing {
    from { width: 85% }
    to { width: 100% }
}

.chatMenuIconButton {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: lightgray;
}

.chatMenuButtonContainer {
    position: relative;
}

.chatMenu {
    position: absolute;
    top: 100%;
    background-color: lightgoldenrodyellow;
    border-radius: 0.25rem;
    padding: 0.5rem;
    z-index: 10;
    opacity: 0;
    color: #1a1a1a;
    transform: translate(-100%, -3rem);
    transition: all 0.5s;
}

.chatMenuIn {
    opacity: 1;
    transform: translate(-100%, 0);
}

.chatMenuOut {
    opacity: 0;
    transform: translate(-100%, -3rem);
}

.chatHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.newDateIndicator {
    width: fit-content;
    margin-inline: auto;
    padding-block: 1rem;
}

.unreadMessagesIndicator {
    background-color: lightgray;
    color: #1a1a1a;
    margin-block: 1rem;
}
