
.menuBackdrop {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 10;
    inset: 0;
}

.ul {
    list-style: none;
}

.menuCard {
    padding: 0.5rem;
    width: 40%;
    height: fit-content;
    background: lightgoldenrodyellow;
    border-radius: 0.25rem;
    color: #000;
    opacity: 0;
    transition: all 0.3s;

    @media (max-width: 600px) {
        width: 60%;
    }
}

.menuCardIsActive {
    transform: translateY(var(--yOffset));
    opacity: 1;
}

.menuCardIsInActive {
    opacity: 0;
}

.reactionsWrapper {
    display: flex;
    overflow-x: auto;
    font-size: 20px;
    padding-bottom: 0.25rem;
    user-select: none;
}

.menuListButton {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 2rem;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    color: #1a1a1a;
}

.menuListOptionText {
    font-size: 1.2rem;
    color: #1a1a1a;
    white-space: nowrap;
}