.fullWidth {
    position: relative;
    width: 100%;

    @media (width > 1024px) {
        width: 75%;
    }
}

.video {
    max-width: 100%;
}

.videoWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: opacity 0.5s;
}

.videoWrapper_isStreaming {
    width: fit-content;
    opacity: 1;
}

.videoWrapper_not_isStreaming {
    width: 0;
    opacity: 0;
}

.photoIconsWrapper {
    position: absolute;
    bottom: 1%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 auto;
    width: 98%;
}


.switchCameraIconWrapper {
    width: 2rem;
    height: 2rem;
}

.canvas {
    display: none;
}

.photoIconButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 50%;
    color: #fff;
    background-color: rgba(26, 26, 26, 0.1);;
    transition: background-color 0.3s;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
}

.photoIconButton:hover {
    background-color: rgba(26, 26, 26, 0.25);
}