.wrapper {
    padding: 0.5rem;
}

.flex {
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0.5rem 0 0.5rem;
}

.drawerList {
    margin-top: 4rem;
}

.drawerListItem {
    list-style: none;
    padding: 2rem 0;
    border-bottom: 1px solid #636363;
}

.drawerListItem:last-of-type {
    position: fixed;
    bottom: 0;
}

.profileLink {
    display: flex;
    align-items: center;
    color: lightgray;
    gap: 1.5rem;
    text-decoration: none;
}

.newChatInnerWrapper {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 0.5rem;
}

.logOutWrapper {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: tomato;
}

.drawer {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #333333FF;
    transform: translateX(-100%);
    padding: 1rem;
    color: lightgray;
    font-size: 1.5rem;
    transition: transform 0.3s ease-out;

    @media (max-width: 600px) {
        width: 75%;
    }
}

.drawer.open {
    transform: translateX(0%);
    box-shadow: 10px 5px 5px #000;
}

.closeDrawerIcon {
    width: fit-content;
    margin: 0 0 0 auto;
}

.size40 {
    height: 40px;
    width: 40px;
}

.size50 {
    height: 50px;
    width: 50px;
}

.userPhotoImage {
    border-radius: 50%;
    margin-right: 0.5rem;
    object-fit: cover;
}

.styledLabel {
    display: contents;
}

.chatListItemInnerWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    border-bottom: 1px solid #464545;
    padding: 1rem 0.25rem;
    border-radius: 0.25rem;
}

.isActiveChat {
    background-color: rgba(255, 255, 255, 0.05);
}

.userWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userNameWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 85%;
}

.activeWrapper {
    position: relative;
}

.chatListItemUsername {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    user-select: none;
}

.chatListItemDateWrapper {
    font-size: 0.7rem;
}

.lastMessageWrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 0.75rem;
}

.lastMessageWrapperInWideMode {
    max-width: 100%;
}

.lastMessageWrapperInNarrowMode {
    max-width: calc(100vw - 5rem);
}

.microPreviewImage {
    object-fit: cover;
}

.chatListItemMessageText {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.chatUnreadMessages {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkgrey;
    border-radius: 50%;
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: 600;
}

.cell {
    align-self: center;
    justify-self: center;
}

.activeUser {
    position: absolute;
    bottom: 12%;
    right: 12%;
    width: 0.7rem;
    height: 0.7rem;
    background: #00be00;
    border-radius: 50%;
    animation: pulse 8s infinite;
}

@keyframes pulse {
         0% {
             scale: 0.8;
             box-shadow: 0 0 0 0 darkgreen;
         }
         50% {
             scale: 1;
         }
         100% {
             scale: 0.8;
             box-shadow: 0 0 0 0.25rem rgba(0, 100, 0, 0);
         }
     }

.inWideMode {
    width: 25%;
}

.inNarrowMode {
    width: 100%;
}

.search {
    width: 100%;
    background: transparent;
    color: lightgray;
    padding: 0.5rem;
    border-color: darkgray;
    border-radius: 0.25rem;
}

.suggestions {
    width: 100%;
    background-color: lightgray;
    color: #1a1a1a;
    font-size: 1rem;
    margin-top: 0.25rem;
    border-radius: 0.25rem;
}

.search:focus-visible, .suggestions:focus {
    outline: 1px solid lightgray;
}

.suggestions > li {
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s;
    cursor: pointer;
}

.suggestions > li:hover {
    background-color: #c0c0c0;
}

.iconButton {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    color: lightgray;
    font-size: 2rem;
    cursor: pointer;
}