.chatHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.chatWrapper {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.chatWrapper::-webkit-scrollbar {
    display: none;
}

.chatWrapper::-webkit-scrollbar-track {
    display: none;
}


.withReplied {
    max-height: 63svh;

    @media (width > 1024px) {
        max-height: 56svh;
    }
}