.loaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #fff;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: auto;
}

@keyframes rotation {
        to {
            transform: rotate(360deg);
        }
    }

.selectedCountWrapper {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: #fff;
}

.selectModeHeaderWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.withPadding {
    padding-bottom: 0.5rem;
}

.iconButton {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.5rem;
    height: 1.5rem;
}

.selectedCount {
    width: 1rem;
}

.labelWrapper {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    user-select: none;
}

.formLabel {
    margin-left: 1rem;
}

.selectedHeaderStub {
    height: 2rem;
}

.checkboxWrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.checkbox {
    -webkit-appearance: none;
    appearance: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}
.checkbox:checked {
    background-color: #fff;
}

.checkbox:checked::before {
    content: "\2714";
    font-size: 0.9rem;
    color: #1a1a1a;
}