.button {
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    background-color: #0B6BCB;
    color: #FFF;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.signLinkWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    opacity: 0;
    animation: enter 2s 0.8s forwards;

    @media (max-width: 600px) {
        width: 80%;
    }
}

.teletype {
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    background-image: linear-gradient(45deg, blue, red, yellow);
    background-clip: text;
    background-size: 200% auto;
    color: transparent;
    animation: move 7s infinite;
}

.author {
    position: fixed;
    bottom: 3%;
    right: 5%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 8rem;
    margin-top: -3rem;
}

@keyframes move {
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes enter {
    to {
        opacity: 1;
    }
}
