.newDateIndicator {
    width: fit-content;
    margin-inline: auto;
    padding-bottom: 1rem;
}

.unreadIndicator {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a3a3a;
    height: 1.5rem;
    color: lightgray;
    text-align: center;
    margin-block: 0.5rem;
    border-radius: 0.25rem;
}

.styledLabel {
    display: contents;
}

.messageWrapper {
    position: relative;
    user-select: none;
    display: flex;
    padding: 1rem 0;
}

.messageItem {
    border-radius: 0.25rem;
    transition: transform 0.5s ease-in-out;
}

.messageItem_fullWidth {
    max-width: 100%;
}
.messageItem_not_fullWidth {
    max-width: 83%;
}

.messageItem_singlePadding {
    padding: 0 0 0.5rem 0;
}

.messageItem_not_singlePadding {
    padding: 0.5rem;
}

.messageItem_withOffset {
    margin-top: 0.5rem;
}

.messageItem_not_withOffset {
    margin-top: 0;
}

.messageItem_isAuthoredByUser {
    margin-left: auto;
    margin-right: 0;
    background-color: #4682b499;
}

.messageItem_not_isAuthoredByUser {
    margin-left: 0;
    margin-right: auto;
    background-color: #70809080;
}

.messageItem_transparent {
    background-color: transparent;
}

.messageItem_isMoved {
    transform: translateX(var(--xOffset));
}

.innerMessageItem {
    margin-top: 0.5rem;
    max-width: 100%;
    border-radius: 0.25rem;
    word-break: break-word;
}

.innerMessageItem_withPadding {
    padding: 0.5rem;
}